body {
    background: #F6F6F3;
    font-family: "Neue Haas Grotesk W01 Disp", "Neue Haas Grotesk", "Helvetica Neue", "Arial", sans-serif;
    color: #363D3D;
    line-height: 1.5;
    overflow-x: hidden;
}

p.image img {
    width: 100%;
}

div.description {
    margin: auto;
    width: 60%;
    background-color: #F0F0F0;
    padding: 5px 15px;
}

a {
    text-decoration: none;
    color: #363D3D
}

a:hover {
    text-decoration: underline
}
